body {
    padding: 0;
    margin: 0;
    width: 100vw;
}

header {
    border-bottom: 1px solid #f80a0ac4;
    background-image: radial-gradient(circle, #ee5a5ac4, rgb(252, 232, 232), rgb(194, 149, 149));
}

header, ul {
   display: flex;
   flex-direction: row;
   margin: 10px;
}

nav ul{
    margin: 30px 0 0 100px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f80a0ac4;
    font-weight: bolder;   
    margin: 30px 0 0 20px;
    text-transform:uppercase;
}

.header-ul li {
    padding: 10px;
    margin: 0 10px 10px 10px;
    list-style: none;
    text-transform:uppercase;
}

.header-ul li:hover {
    color: #f80a0ac4;
    border-top: 1px solid #f80a0ac4;
    border-radius: 10px;
}

